<div class="row">
  <div class="col s8 offset-s2">
    <h2>Log in</h2>
    <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="email">Email adress</label>
        <input type="text"
               id="email"
               class="form-control"
               formControlName="email">
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password"
               id="password"
               class="form-control"
               formControlName="password">
      </div>
      <button class="btny"
              type="submit"
              >Log in</button>
    </form>
    <p class="text-danger">{{ errorMessage }}</p>
  </div>
</div>